<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="material">
            <h2><span>Material</span> {{ material.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ material.name }}</span>
                </dd>
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{ material.type }}</span>
                </dd>
                <dt><span>Link</span></dt>
                <dd>
                    <span>{{ material.link }}</span>
                </dd>
                <dt><span>Chapter Id</span></dt>
                <dd>
                    <span>{{ material.chapterId }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/material', material.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
